<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- you can spawn nakbot model with arbitary poses -->
  <arg name="X" default="0"/>
  <arg name="Y" default="0"/>
  <arg name="yaw" default="0"/>
  <arg name="model" default="$(find nakbot_ros_sim)/urdf/my_robo.xacro"/> 
  <arg name="world" default="worlds/empty.world"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>  

  <!-- launch gazebo with empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- swawn nakbot on gazebo simulator -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model my_robo -param robot_description -x $(arg X) -y $(arg Y) -Y $(arg yaw)"/>

</launch>
