<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!-- include gazebo.launch,and launch gazebo,diff_drive_controller-->
 <include file="$(find my_robo_description)/launch/gazebo.launch">
  <arg name="empty" value="true"/>
 </include>

<!-- launch rviz-->
  <arg name="rvizconfig" default="$(find my_robo_description)/rviz/urdf.rviz"/> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
