<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="X" default="0"/>
  <arg name="Y" default="0"/>
  <arg name="yaw" default="0"/>
  <arg name="model" default="$(find nakbot_ros_sim)/urdf/my_robo.xacro"/> 
  <arg name="world" default="worlds/empty.world"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/> 

  <!-- launch differential_drive_controller -->
  <include file="$(find nakbot_ros_sim)/launch/control.launch"/>
  
  <!-- launch rviz viewer -->
  <include file="$(find nakbot_ros_sim)/launch/display.launch"/>

    <!-- include gazebo.launch,and launch gazebo,diff_drive_controller-->
    <include file="$(find nakbot_ros_sim)/launch/gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="X" value="$(arg X)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="yaw" value="$(arg yaw)"/>
        <arg name="model" value="$(arg model)"/>
    </include>

  <!-- launch teleoperation node with keybord -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

</launch>
